@keyframes zoomInBackground {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.slider-container {
    display: flex;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: 0;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.parallax-item {
    position: relative;
    overflow: hidden;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 80%;
    /* Adjust the width as needed */
    padding: 20px;
    /* Add padding for spacing */
    box-sizing: border-box;
    
    /* Optional: add background for readability */
    border-radius: 10px;
    /* Optional: add border radius for rounded corners */
}

.text-title {
    font-size: 5em;
    margin: 0;
}

.text-subtitle {
    font-size: 2em;
    margin: 0;
}

.text-description {
    font-size: 1em;
    margin: 0;
    margin-top: 10px;
}

.text-extended-description {
    font-size: 0.9em;
    margin-top: 10px;
    
}

.parallax-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-image: inherit;
    transform-origin: center;
    animation: zoomInBackground 5s ease-in-out infinite alternate;
    /* Adjust duration and iteration as needed */
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    font-size: 2em;
    transition: background 0.3s ease;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Ensure icon is centered properly */
}

.nav-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev-button {
    
    line-height: 50px;
    left: 10px;
}

.next-button {
    right: 10px;
    line-height: 50px;
}